.itemTitle{
    font-family: HelveticaNeueUltraLight;
    font-weight: bold;
    font-size: 59px;
    text-align: left;
    margin-left: 20px;
}
.itemDescription{
    font-family: HelveticaNeueLight;
    font-size: 28px;
    text-align: left;
    margin-left: 30px;
}
.itemDetailsTitle{
    font-family: HelveticaNeueUltraLight;
    font-size: 144px;
    text-align: left;
    color: 0xFFFFFF;
    margin-left: 40px;
}
.itemDetailsPrice{
    font-family: HelveticaNeueLight;
    font-size: 72px;
    text-align: right;
    color: #000000;
    margin-right: 40px;
}
.menuButtonLabel{
    font-family: HelveticaNeueLight;
    font-size: 46px;
    text-align: center;
    color: #4f4f4f;
}
.itemDetailOptionTitle {
    font-family: Arial;
    font-size: 22px;
    text-align: center;
    color: #666666;
}
.orderItemText{
    font-family: HelveticaNeue;
    font-size: 22px;
    text-align: left;
    color: #666666;
}


.itemDetailOptionPriceTextFormat{
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-align: left;
}
.partyCountTextFormat{
    font-family: HelveticaNeueUltraLight;
    color: #333333;
    font-weight: bold;
    font-size: 144px;
    text-align: center;
}
.partySelectionLabel{
    font-family: HelveticaNeueUltraLight;
    color: #cccccc;
    text-align: center;
    font-size: 72px;
}
.guestSelectorItemLabel, .tableId{
    font-family: HelveticaNeueUltraLight;
    font-size: 72px;
    text-align: center;
    color:#000000;
}
.personSelectionTitle{
    font-family: HelveticaNeueUltraLight;
    font-size: 72px;
    text-align: left;
    color:#666666;
    margin-left: 40px;
}
.personSelectionPrice{
    font-family: HelveticaNeueUltraLight;
    font-size: 72px;
    text-align: right;
    color:#666666;
    margin-left: 40px;
}
